/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: hidden;
}

/* Left bar styling */
.left-bar {
    width: 5%; /* 1/5 of the screen width */
    max-width: 60px; /* Maximum width for larger screens */
    min-width: 50px; /* Minimum width for smaller screens */
    background-color: black;
    height: 100vh; /* Full height of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


/* Button styling */
.toggle-button {
    width: calc(100% - 4px); /* 2px margin on each side */
    height: 50px;
    background-color: green;
    border: none;
    margin: 2px 0;
    cursor: pointer;
    z-index: 5; /* Ensure the button is on top */
}

/* Sliding panel styling */
.sliding-panel {
    width: 25%; /* 5/20 of the width */
    background-color: grey;
    height: 100vh; /* Full height of the viewport */
    position: fixed;
    top: 0;
    left: -25%; /* Hidden by default */
    overflow-y: auto;
    transition: left 0.5s;
    z-index: 4; /* Ensure the panel is behind the button */
    padding-top: 60px; /* Space to ensure content starts below the button */
}

/* Summary styling */
.summary {
    padding: 20px;
}

.summary ul {
    list-style-type: none;
    padding: 0;
}

.summary li {
    margin-bottom: 15px;
}

.summary a {
    text-decoration: none;
    color: black;
}

/* Main content */
main {
    margin-left: 10%; /* Ajuster pour correspondre à la barre de gauche */
    margin-right: 10%;
    width: 80%; /* Contenu de la page */
    height: 100vh; /* Hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Pour les animations en position absolue */
}

/* Styles de base */
.satellite1 {
    width: 8%;
    height: 8%;
    background-color: pink;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 3;
    transition: width 0.5s, height 0.5s;
}

.satellite2 {
    width: 8%;
    height: 8%;
    background-color: lightgreen;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 3;
    transition: width 0.5s, height 0.5s;
}

.planet {
    width: min(80vh, 80%);
    height: min(80vh, 80%);
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.content-box {
    display: none;
    width: 90%;
    height: 90%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-in-out;
}

.comeback-btn {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
